// Print-Media-Queries, taken from http://de.wikipedia.org/wiki/Zeitungsformat

// DIN Formats

@din-a0: ~"@media print and (width: 841mm) and (height: 1189mm)";
@din-a1: ~"@media print and (width: 594mm) and (height: 841mm)";
@din-a2: ~"@media print and (width: 420mm) and (height: 594mm)";
@din-a3: ~"@media print and (width: 297mm) and (height: 420mm)";
@din-a4: ~"@media print and (width: 210mm) and (height: 297mm)";
@din-a5: ~"@media print and (width: 148mm) and (height: 210mm)";
@din-a6: ~"@media print and (width: 105mm) and (height: 148mm)";
@din-a7: ~"@media print and (width: 74mm) and (height: 105mm)";
@din-a8: ~"@media print and (width: 52mm) and (height: 74mm)";
@din-a9: ~"@media print and (width: 37mm) and (height: 52mm)";
@din-a10: ~"@media print and (width: 26mm) and (height: 37mm)";

// Big Formats

@broadsheet: ~"@media print and (width: 375mm) and (height: 600mm)";
@nordisch: ~"@media print and (width: 400mm) and (height: 570mm)";
@rhein: ~"@media print and (width: 350mm) and (height: 510mm)";
@swiss: ~"@media print and (width: 320mm) and (height: 475mm)";
@berlin: ~"@media print and (width: 315mm) and (height: 470mm)";

// Small Formats

@tabloit: ~"@media print and (width: 235mm) and (height: 315mm)";
@halfbroadsheet: ~"@media print and (width: 300mm) and (height: 375mm)";
@halfrhein: ~"@media print and (width: 235mm) and (height: 315mm)";
