/*
    from: Michel Balzer, http://pixelscheucher.de
    feel free to edit and maybe pull to github: https://github.com/michelbalzer/sass_social_colors
*/

$dribble: #EA4C89; /* from link color */
$facebook: #3b5998; /* from the top bar */
$twitter: #539bc8; /* from the twitter bird */
$instagram: #844B3D; /* a brown tone from the logo */
$gplus: #b83114; /* took the darkest red from the favicon */
$adn: #898c90; /* app.net; from their logo */
$rss: #ed812d; /* an orange tone from feedicons.com */
$lastfm: #D51007; /* from their headline style */
$linkedin: #2C94C3; /* from their headline style */
$github: #4183C4; /* from their headline */
$github_cat: #f5ccb6; /* the face of the github cat – bonus */
$pinterest: #D30D26; /* from their logo */
$flattr: #8BB546; /* i took the green from the feedback box */
$skype: #16aff0; /* from their logo */
$spotify: #7AB800; /* from their headline style */ 