/*
    from: Michel Balzer;
    feel free to edit and pull to github: https://github.com/michelbalzer/sass_social_colors
    
    Many colors were taken from http://brandcolors.net/
*/

$color_500px: #02adea;
$color_adn: #898c90; /* app.net; from their logo */
$color_github: #ee6123;
$color_dribbble: #EA4C89; /* from link color */
$color_facebook: #3b5998; /* from the top bar */
$color_flattr: #8BB546; /* i took the green from the feedback box */
$color_flickr: #0063dc; /* the blue of flickr */
$color_flickr_alt: #ff0084; /* the pink of flattr */
$color_foursquare: #25a0ca;
$color_github: #4183C4; /* from their headline */
$color_github_cat: #f5ccb6; /* the face of the github cat – bonus */
$color_google: #0140ca; /* blueish */ 
$color_googleplus: #dd4b39; /* as mentioned on https://developers.google.com/+/branding-guidelines */
$color_hootsuite: #003366;
$color_instagram: #3f729b;
$color_instapaper: #1c1c1c;
$color_lastfm: #c3000d; /* taken from http://brandcolors.net/ */
$color_linkedin: #0e76a8; /* from their headline style */
$color_pinterest: #c8232c; /* from their logo */
$color_readability: #9c0000;
$color_reddit: #ff4500;
$color_rss: #ed812d; /* an orange tone from feedicons.com */
$color_skype: #00aff0; /* from their logo */
$color_soundcloud: #ff7700;
$color_spotify: #81b71a; /* from their headline style */
$color_stackoverflow: #ef8236;
$color_tumblr: #34526f;
$color_twitter: #55acee; /* from https://about.twitter.com/press/brand-assets */
$color_vimeo: #44bbff;
$color_vine: #00a478;
$color_wordpress: #21759b;
$color_xbox: #9bc848;
$color_xing: #dae600;
$color_yahoo: #720e9e;
$color_yelp: #c41200;
$color_youtube: #c4302b;
$color_zootool: #5e8b1d;
